<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vironit.correctapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.presentation.view.implementation.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.presentation.view.implementation.activity.base.DummyActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.TransparentActivity" />

        <activity android:name=".mvp.presentation.view.implementation.activity.TestActivity" />
        <activity android:name=".mvp.presentation.view.implementation.activity.LoginActivity" />
        <activity android:name=".mvp.presentation.view.implementation.activity.LoginRegistrationActivity"/>
        <activity android:name=".mvp.presentation.view.implementation.activity.HomeActivity" />
        <activity android:name=".mvp.presentation.view.implementation.activity.ChatsMainActivity" />
        <activity android:name=".mvp.presentation.view.implementation.activity.UserAddToChatsMainActivity"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name=".utils.FileProviderGallery"
            android:authorities="com.vironit.correctapp.utils.FileProviderGallery"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_parths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBiu148naeCMdxdvJaO4o2eXVK0HuVd1Po"/>

        <service
            android:name=".mvp.model.manager.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".mvp.model.manager.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>
